<a href="https://colab.research.google.com/github/AbrahamKong/CMPE256-Dimensionality_Reduction_Assignment/blob/main/CMPE_256_Dimensionality_Reduction_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# import necessary library

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# Input the Tabular Data Set
# Source: https://data.world/craigkelly/usda-national-nutrient-db

tbdata = pd.read_csv("/content/tabular_data.csv")
tbdata.head()

     id               foodgroup  ... selenium_usrda zinc_usrda
0  1001  Dairy and Egg Products  ...       0.018182   0.008182
1  1002  Dairy and Egg Products  ...       0.018182   0.004545
2  1003  Dairy and Egg Products  ...       0.000000   0.000909
3  1004  Dairy and Egg Products  ...       0.263636   0.241818
4  1005  Dairy and Egg Products  ...       0.263636   0.236364

[5 rows x 45 columns]

In [ ]:
# input image dataset